.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.section__field {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px 0px #D1CFCF;
    margin: 10px 0;
    padding: 20px;
}

.section__header {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.section__area {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 767px) {
    .section__area {
        grid-template-columns: 1fr;
    }
}